@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* fruits: "rgba(109, 131, 73, 0.42)",
        spices: "rgba(231, 230, 227, 0.42)",
        tubers: "rgba(242, 196, 135, 0.42)",
        poultry: "rgba(123, 82, 82, 0.42)",
        grains: "rgba(244, 216, 102, 0.42)",
        meat: "rgba(157, 47, 50, 0.42)", */

.fruits {
    background-color: rgba(109, 131, 73, 0.42);
}
.spices {
    background-color: rgba(231, 230, 227, 0.42);
}
.tubers {
    background-color: rgba(242, 196, 135, 0.42);
}
.poultry {
    background-color: rgba(123, 82, 82, 0.42);
}
.grains {
    background-color: rgba(244, 216, 102, 0.42);
}
.meat {
    background-color: rgba(157, 47, 50, 0.42);
}